{
  "presets": [
    "expo"
  ],
  "plugins": [
    ["module-resolver", {
      "alias": {
        "react-native-tab-view": "../src/index",
        "react-native-tab-view-viewpager-backend": "../react-native-tab-view-viewpager-backend/ViewPagerBackend"
      }
    }]
  ]
}
