{
  "parser": "babel-eslint",

  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },

  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },

  "extends": [
    "prettier"
  ],

  "plugins": [
    "babel",
    "flowtype",
    "import",
    "react",
    "react-native",
    "prettier",
  ],

  "settings": {
    "import/core-modules": [ "react-native-tab-view" ]
  },

  "rules": {
    "prettier/prettier": [1, {"trailingComma": "all", "singleQuote": true}],

    "babel/new-cap": 0,
    "babel/object-curly-spacing": 0,
    "babel/arrow-parens": 0,

    "flowtype/boolean-style": [2, "boolean"],
    "flowtype/define-flow-type": 2,
    "flowtype/delimiter-dangle": [2, "always-multiline"],
    "flowtype/generic-spacing": [2, "never"],
    "flowtype/no-dupe-keys": 2,
    "flowtype/no-primitive-constructor-types": 2,
    "flowtype/no-weak-types": 0,
    "flowtype/object-type-delimiter": [2, "comma"],
    "flowtype/require-parameter-type": 0,
    "flowtype/require-return-type": 0,
    "flowtype/require-valid-file-annotation": 2,
    "flowtype/require-variable-type": 0,
    "flowtype/semi": 0,
    "flowtype/sort-keys": 0,
    "flowtype/space-after-type-colon": [2, "always"],
    "flowtype/space-before-generic-bracket": [2, "never"],
    "flowtype/space-before-type-colon": [2, "never"],
    "flowtype/type-id-match": 0,
    "flowtype/union-intersection-spacing": [2, "always"],
    "flowtype/use-flow-type": 2,
    "flowtype/valid-syntax": 2,

    "import/no-unresolved": 2,
    "import/named": 2,
    "import/default": 0,
    "import/namespace": 0,
    "import/export": 2,
    "import/no-named-as-default": 0,
    "import/no-named-as-default-member": 0,
    "import/no-deprecated": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-commonjs": 2,
    "import/no-amd": 2,
    "import/no-nodejs-modules": 0,
    "import/imports-first": 2,
    "import/no-duplicates": 2,
    "import/no-namespace": 0,
    "import/extensions": [2, { "js": "never", "json": "always" }],
    "import/order": 0,

    "react/display-name": 0,
    "react/forbid-prop-types": 0,
    "react/no-danger": 2,
    "react/no-deprecated": 2,
    "react/no-did-mount-set-state": 2,
    "react/no-did-update-set-state": 2,
    "react/no-direct-mutation-state": 2,
    "react/no-is-mounted": 2,
    "react/no-multi-comp": 0,
    "react/no-set-state": 0,
    "react/no-string-refs": 2,
    "react/no-unknown-property": 2,
    "react/prefer-es6-class": 2,
    "react/prop-types": 2,
    "react/react-in-jsx-scope": 2,
    "react/require-render-return": 2,
    "react/self-closing-comp": 2,
    "react/sort-comp": 2,
    "react/sort-prop-types": 0,
    "react/jsx-boolean-value": [2, "never"],
    "react/jsx-closing-bracket-location": 2,
    "react/jsx-curly-spacing": [2, "never"],
    "react/jsx-equals-spacing": 2,
    "react/jsx-first-prop-new-line": [2, "multiline"],
    "react/jsx-handler-names": 0,
    "react/jsx-indent-props": 0,
    "react/jsx-key": 2,
    "react/jsx-max-props-per-line": 0,
    "react/jsx-no-bind": 0,
    "react/jsx-no-duplicate-props": 2,
    "react/jsx-no-literals": 0,
    "react/jsx-no-undef": 2,
    "react/jsx-pascal-case": 2,
    "react/jsx-sort-props": 0,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/jsx-wrap-multilines": 2,

    "react-native/no-unused-styles": 2,
    "react-native/split-platform-components": 0,
  }
}
